

NET "clk50" LOC = P57;
NET "reset" LOC = P47;
NET "seg_ten[0]" LOC = P55;
NET "seg_ten[1]" LOC = P58;
NET "seg_ten[2]" LOC = P59;
NET "seg_ten[3]" LOC = P60;
NET "seg_ten[4]" LOC = P62;
NET "seg_ten[5]" LOC = P63;
NET "seg_ten[6]" LOC = P64;
NET "seg_one[0]" LOC = P68;
NET "seg_one[1]" LOC = P69;
NET "seg_one[2]" LOC = P70;
NET "seg_one[3]" LOC = P71;
NET "seg_one[4]" LOC = P72;
NET "seg_one[5]" LOC = P75;
NET "seg_one[6]" LOC = P76;


NET "seg_one[2]" IOSTANDARD = LVCMOS25;

# PlanAhead Generated physical constraints 

NET "led" LOC = P87;
